.cardContainer {
    display: flex;
    .card {
        border: solid 1px getColor(black);
        border-radius: 5px;
        margin: 0 1rem 0 1rem;
        padding: 1rem;
    }
}

.infocard {
    width: 35%;
    border: solid 1px getColor(black);
    border-radius: 5px;
    margin: 0 0 1rem 0;
    padding: 1rem;
}

.infoBtn{
    border: 2px solid getColor(primary);
    border-radius: 5px;
    padding: 5px;
    font-size: .9rem;
    background: none;
}